<form [formGroup]="form">
    <div class="container">
        <h2>Login Form</h2>
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" required formControlName="name">
      <div
        *ngIf="
        form.controls.name.invalid &&
        (form.controls.name.dirty || form.controls.name.touched)
        "
      >
        <span style="color: red;">Name is required</span>
    </div>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password"  formControlName="psw">
      <div
        *ngIf="
        form.controls.name.invalid &&
        (form.controls.name.dirty || form.controls.name.touched)
        "
      >
        <span style="color: red;">Password is required</span>
      </div>

      <button (click)="submit()" [disabled]="!form.valid">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>